/* add your CSS here */
#whole_card{
  border: 1px solid black;
  width: 310px;
  box-shadow: 5px 10px 8px #888888;
  padding: 15px;
}

#description{
  border: 1px solid gray;
  width: 290px;
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 5px;
}

#interesting_fact{
  font-style: italic;
}

img{
  border: 1px solid black;
}

li{
  list-style-type: none;
}

ul{
  padding-left: 0;
}

ul li span {
  font-weight: bold;
}
